# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a5b7b6ef3ae734acd7cf00b
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a5b7b6ef3ae734acd7cf00b
